.navbar_container {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #02183d;
}

.navbar_container .nav-link {
  color: #d0cdcd;
}
.navbar_container .nav-link:focus,
.nav-link:hover {
  color: #fbfbfb;
}

.brand_logo {
  width: 250px;
  height: 60px;
}

.navbar-toggler-icon {
  background-image: url("../../Assets/menu.png");
}

.navItems_style {
  border-radius: 12px;

  transition: all 0.3s ease-in-out;
  padding: 1rem;
}

@media screen and (max-width: 991px) {
  .brand_logo {
    width: 190px;
    height: 60px;
  }
  .navItems_style {
    /* background-color: #06071D; */
    background: linear-gradient(135deg, #10152a, #1f2342);
    box-shadow: 0 0 10px rgba(0, 102, 255, 0.2);
    max-width: 190px;
    min-width: 160px;
  }
}
@media screen and (max-width: 765px) {
  .brand_logo {
    width: 150px;
    height: 50px;
  }
}

@media screen and (max-width: 565px) {
  .brand_logo {
    width: 120px;
    height: 40px;
  }
}
