body {
  margin: 0;
  font-family: "Roboto", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*,
::before,
::after {
  /* box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb; */
}

button, a, p, span{
  font-size: 14px;
}

.hero-heading {
  /* font-family: 'Poppins', sans-serif;  */
  font-weight: 700;
  color: #cbd1dc;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.section-title {
  font-weight: 600;
  color: #cbd1dc;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.section-subtitle {
  font-weight: 400;
  color: #dce0e7;
  font-size: 16px;
  margin-bottom: 1rem;
  letter-spacing: 0.4px;
}

.gradient-text {
  background: linear-gradient(61deg, #116aed, #8b42aa); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 600;
}

.icon_wrapper{
  margin: 0 auto;
  width: 60px;
  height: 60px;
  /* padding: 40px; */
  background: linear-gradient(to bottom right, #4f46e5, #f43f5e);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purple_bg{
  background: linear-gradient(135deg, #7f00ff 0%, #e100ff 100%);
}

.darkPurple_bg{
  background: linear-gradient(135deg, #1a1f4b 0%, #283e70 50%, #3f5efb 100%);
}

.max-width{
  max-width: 700px;
}

.service_card_active_bg {
  background: linear-gradient(133deg, #4d59ba 12%, #2b4b97db 51%, #6b7ede 93%);
  color: #fff;
  border: none;
}

/* Style the select field itself */
.form-select {
  background-color: transparent !important; /* dark theme bg */
  color: #eee4e4 !important;            /* text color */
  border: 1px solid #334155;            /* subtle border */
  border-radius: 8px;
}

/* Style the dropdown options */
.form-select option {
  background-color: #0a0f1c;  /* dark background */
  color: #e2e8f0;             /* light gray text */
  padding: 10px;
  border: none;
  outline: unset;
}

/* Highlight on hover */
.form-select option:hover,
.form-select option:focus,
.form-select option:checked {
  background-color: #062870 !important; /* blue highlight */
  color: #ffffff !important;
    border: none;
  outline: unset;
}

.form-control, .form-select, #location.form-select {
    background-color: transparent;
    color: #efe6e6;
}

.form-control:focus{
  background-color: transparent;
}

.form-control input:focus,
.form-control:focus ,
.form-control input:active,
.form-control input{
  color: #f4e9e9;
  letter-spacing: 0.6px;
}


@media (min-width: 992px) {
  .section-title {
    font-size: 2rem;
  }
}

@media (min-width: 576px) {
  .hero-heading {
    font-size: 2rem; 
  }
}
@media (min-width: 992px) {
  .hero-heading {
    font-size: 3.5rem;
  }
}